<!DOCTYPE html>
<html lang="en">
  <%- include ("./include/head") %>
  <body>
    <%- include ("./include/nav") %>
    <div class="container">
      <div class="row">
        <h1>About</h1>
      </div>
      <a class="nav-item nav-link" href="visiting-Lyon">Lyon</a>
      <a class="nav-item nav-link" href="visiting-Libourne">Libourne</a>
      <a class="nav-item nav-link" href="visiting-Nantes">Nantes</a>
      <a class="nav-item nav-link" href="visiting-Blaye">Blaye</a>
      <a class="nav-item nav-link" href="visiting-Marseille">Marseille</a>
      <hr />
      <div class="row">
        <p style="height: 300px">Content Here...</p>
      </div>
    </div>

    <%- include ("./include/footer") %>
  </body>
</html>
