<!DOCTYPE html>
<html lang="en">
  <%- include ("./include/head") %>
  <body>
    <%- include ("./include/nav") %>
    <div class="container">
      <div class="row">
        <h1>Visiting Libourne</h1>
        <nav>
          <ul class="activities">
            <li><a  href="saintemilion">Activité 1</a></li>
            <li><a  href="veloRail">Activité 2</a></li>
            <li><a  href="croisiere">Activité 3</a></li>
            <li><a  href="circuitOeno">Activité 4</a></li>
            <li><a  href="musee">Activité 5</a></li>
            <li><a  href="baseAquatique">Activité 6</a></li>
          </ul>
      </nav>
      <hr />
      <div class="row">
        <p style="height: 300px">Content Here...</p>
      </div>
    </div>

    <%- include ("./include/footer") %>
  </body>
</html>
