<!DOCTYPE html>
<html lang="en">
  <%- include ("../include/head") %>
  <body>
    <%- include ("../include/nav") %>
    <div class="container">
      <div class="row">
        <a class="nav-item nav-link" href="visiting-Libourne">retour</a>
        <h1>Base Aquatique</h1>
      </div>
      <hr />
      <div class="row">
        <p style="height: 300px">Content Here...</p>
      </div>
    </div>

    <%- include ("../include/footer") %>
  </body>
</html>
